In [22]:
# Random Forest Classification         , 
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [23]:
df= read_csv("E:\\materials\\Assignment\\Assignment15\\Company_Data.csv")

In [24]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [25]:
df = pd.get_dummies(df, columns =['ShelveLoc','Urban','US'])

In [26]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0

In [27]:
df['sales']='small'
df.loc[df['Sales'] > 7.5,'sales'] = "large"
df.drop(['Sales'], axis=1,inplace = True)

In [28]:
array = df.values

In [29]:
df.columns

Index(['CompPrice', 'Income', 'Advertising', 'Population', 'Price', 'Age',
       'Education', 'ShelveLoc_Bad', 'ShelveLoc_Good', 'ShelveLoc_Medium',
       'Urban_No', 'Urban_Yes', 'US_No', 'US_Yes', 'sales'],
      dtype='object')

In [30]:
x = array[:,0:14]
y = array[:,14]

### spling

In [31]:
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [32]:
 # Applying RF
num_trees = 100
max_features = 3    #
kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features) 
model.fit(x_train,y_train)
pred = model.predict(x_test)

confusion_matrix(y_test, pred)

array([[41, 16],
       [13, 50]], dtype=int64)

In [33]:
results = cross_val_score(model, x,y, cv=kfold)
print(results.mean())
results

0.8049999999999999

array([0.775, 0.875, 0.675, 0.85 , 0.75 , 0.9  , 0.775, 0.85 , 0.75 ,
       0.85 ])

In [34]:
model.fit(x_train, y_train)

RandomForestClassifier(max_features=3)

 prediction

In [35]:
#
pred = model.predict(x_test)

In [36]:
pred

array(['large', 'large', 'large', 'large', 'large', 'large', 'large',
       'small', 'small', 'large', 'large', 'large', 'small', 'large',
       'small', 'small', 'large', 'small', 'large', 'large', 'large',
       'small', 'small', 'small', 'small', 'large', 'small', 'large',
       'small', 'small', 'small', 'large', 'small', 'large', 'large',
       'large', 'small', 'large', 'small', 'small', 'small', 'large',
       'large', 'small', 'large', 'large', 'small', 'large', 'small',
       'large', 'small', 'small', 'small', 'small', 'large', 'large',
       'small', 'large', 'small', 'large', 'small', 'large', 'large',
       'large', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'large', 'large', 'small', 'large', 'large', 'small',
       'small', 'small', 'small', 'large', 'large', 'large', 'large',
       'small', 'small', 'small', 'large', 'large', 'large', 'small',
       'small', 'small', 'small', 'small', 'small', 'small', 'large',
       'small', 'large', 'small', 'small', 'small', 'large', 'large',
       'small', 'small', 'small', 'small', 'large', 'small', 'small',
       'small', 'large', 'large', 'large', 'large', 'small', 'large',
       'large'], dtype=object)

 ## create dataframe actual and prediction

In [37]:
data = pd.DataFrame({ "actual":y_test,"prection":pred})

In [38]:
data

    actual prection
0    large    large
1    large    large
2    large    large
3    large    large
4    small    large
..     ...      ...
115  large    large
116  large    large
117  small    small
118  large    large
119  small    large

[120 rows x 2 columns]

In [39]:
# Feature impotance
df1 = df.columns

In [40]:
df1= df1.drop(['sales'])

In [41]:
feature = model.feature_importances_

In [49]:
data = pd.DataFrame({'columns':df1,"importance":feature})
data.sort_values("importance",ascending=False)

             columns  importance
4              Price    0.219846
5                Age    0.128005
1             Income    0.112232
0          CompPrice    0.109687
2        Advertising    0.096209
8     ShelveLoc_Good    0.080401
3         Population    0.078531
6          Education    0.053915
7      ShelveLoc_Bad    0.049344
9   ShelveLoc_Medium    0.024814
13            US_Yes    0.013394
12             US_No    0.013130
10          Urban_No    0.010825
11         Urban_Yes    0.009667

In [ ]:
 # Price  have high importance